<div class="container-fluid gx-0">
  <div class="">
    <div class="row gx-0">
      <div class="col-lg-2 col col-xl-2 col-sm-6 gx-0">
        <div class="col-12 lightbluesquare h-tercio d-none d-sm-block"></div>
        <div class="col-12 w-100 bluesquare h-tercio map display">
          <a href="https://goo.gl/maps/6FGiH5VqkqVPptUV6" target="_blank">
            <i class="bi bi-geo-alt-fill mapicon"></i></a>
        </div>
        <div class="col-12 redsquare h-tercio redsquaretxt montserrat text-light display">
          <!-- Button trigger modal -->
          <button type="button" class="button white mapicon" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <p class="nber fw-bold">35</p>
            <p class="fs-1">AÑOS</p>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                  <img src="assets/img/trayectoria.gif" class="gif" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-10 col-xl-10 col-sm-6">
        <div id="carouselExampleControls" class="carousel slide d-inline-block h-100" data-bs-ride="carousel">
          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <img src="assets/img/image936.png" class="d-block w-100 h-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <!--CUADROS MOBILE-->
    <div class="row align-items-center gx-0 d-flex d-sm-none">
      <div class="col-6 h-tercio bluesquare map">
        <a href="https://goo.gl/maps/6FGiH5VqkqVPptUV6" target="_blank">
          <i class="bi bi-geo-alt-fill mapicon"></i></a>
      </div>
      <div class="col-6 h-tercio redsquare montserrat redsquaretxt text-light">
        <!-- Button trigger modal -->
        <button type="button" class="button white mapicon" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <p class="nber fw-bold">35</p>
          <p class="fs-1">AÑOS</p>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body"><img src="assets/img/trayectoria.gif" class="gif" alt="" /></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--FIN CUADROS MOBILE-->
  </div>

  <div class="mb-5">
    <div class="row gx-0">
      <div class="col-12 col-lg-8">
        <a href="vistas/especialmedicinales.html" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/Medicamentos_para_la_Psoriasis.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">ESPECIALIDADES</span>
              <br />
              <span class="fs-3 fw-bold">MEDICINALES </span>
              <hr class="hrcolor w-50" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-4 gallery-square">
        <a href=" vistas/diagnostico.html" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/shutterstock_127914659.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">DIAG</span>
              <br />
              <span class="fs-3 fw-bold">NOSTICO </span>
              <hr class="hrcolor w-100" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row gx-0">
      <div class="col-5 col-lg-4 gallery-square">
        <a href=" vistas/medicalit.html" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/hacker-man-on-laptop.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">MEDICAL</span>
              <br />
              <span class="fs-3 fw-bold">IT </span>
              <hr class="hrcolor w-75" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-7 col-lg-8 gallery-square">
        <a href=" vistas/equipamientos.html" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/D-26615-2009 1.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">EQUI</span>
              <br />
              <span class="fs-3 fw-bold">PAMIENTOS </span>
              <hr class="hrcolor w-75" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row gx-0">
      <div class="col-12 col-lg-4 gallery-square">
        <a href="" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/D-18935-2010_neu.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">INGENIERIA</span>
              <br />
              <span class="fs-3 fw-bold">Y DISEÑO HOSPITALARIO</span>
              <hr class="hrcolor w-50" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-lg-4 gallery-square">
        <a href=" vistas/terapiasdenutri.html" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/young-woman-pharmacist-pharmacy.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">TERAPIAS</span>
              <br />
              <span class="fs-3 fw-bold">DE NUTRICION</span>
              <hr class="hrcolor w-50" />
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-lg-4 gallery-square">
        <a href=" vistas/insumosbiomedicos.html" class="effect">
          <div class="galleryfilter gallery-square txteffect montserrat">
            <img
              src="assets/img/Insumos-descartables.jpg"
              alt=""
              class="img-gallery"
            />
            <div class="bottom-left text-start lh-1">
              <span class="fs-1 fw-light">INSUMOS</span>
              <br />
              <span class="fs-3 fw-bold">BIOMEDICOS</span>
              <hr class="hrcolor w-75" />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
