<footer id="contact">
  <div class="container-fluid gx-0 footer-flex">
    <div class="row gx-0">
      <div class="col-12 bluesquare blue-footer"></div>

      <div class="row gx-0 bg-darkgray p-2">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 col-md-4 col-12">
          <img src="assets/img/logo3.png" alt="" />
        </div>
      </div>
    </div>
    <div
      class="row gx-0 bg-darkgray white sanserif p-2 d-flex justify-content-center"
    >
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-10 col-md-4">
        <div class="mytextdiv">
          <div class="fs-3 txttitle">About us</div>
          <div class="divider w-25"></div>
        </div>
        <p class="mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          suscipit placeat totam. Praesentium, numquam dolore voluptas fuga
          harum odit nisi eaque! Officiis nisi animi enim at dolorum quasi
          ipsum quae!
        </p>
      </div>
      <div class="col-lg-2 col-10 col-md-4">
        <div class="mytextdiv">
          <div class="fs-3 txttitle">Get in Touch</div>
          <div class="divider w-25"></div>
        </div>
        <div class="mt-2">
          <ul class="ul">
            <li class="li">Addres: <a href=""></a></li>
            <li class="li">Phone: <a href=""></a></li>
            <li class="li">Email: <a href=""></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-10 col-md-4">
        <div class="mytextdiv">
          <div class="fs-3 txttitle">Social Media</div>
          <div class="divider w-25"></div>
        </div>
        <div class="mt-2">
          <div class="row gx-0">
            <div class="col-2">
              <a href=""
                ><i class="bi bi-facebook lightbluefont fs-3"></i
              ></a>
            </div>
            <div class="col-2">
              <a href=""
                ><i class="bi bi-twitter lightbluefont fs-3"></i
              ></a>
            </div>
            <div class="col-2">
              <a href=""
                ><i class="bi bi-instagram lightbluefont fs-3"></i
              ></a>
            </div>
            <div class="col-2">
              <a href=""
                ><i class="bi bi-youtube lightbluefont fs-3"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="ft-footer white text-center sanserif">Copyrights 2022</div>
  </div>
</footer>
