<div class="slider">
  <div class="slide-track">
    <div class="slide p-2">
      <img src="assets/img/logos/logo1.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo2.webp" height="50" width="" alt="" />
    </div>
    <div class="slide p-2">
      <img src="assets/img/logos/logo3.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo4.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo5.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo6.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo7.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo8.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo9.webp" height="80" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo10.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo11.webp" height="40" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo12.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo13.webp" height="50" width="" alt="" />
    </div>
  </div>
</div>

<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="assets/img/logos/logo16.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo17.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo18.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo19.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo20.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo21.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo22.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo23.webp" height="60" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo24.webp" height="80" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo25.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo26.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo27.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo14.webp" height="50" width="" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logos/logo15.webp" height="80" width="" alt="" />
    </div>
  </div>
</div>
